/* style.css */
body {
    text-align: center;
    background: linear-gradient(to right, rgb(5, 44, 21), rgb(17, 0, 255));
    font-family: 'Trebuchet MS';
    color: white;
  }
  
img {
    width: 200px;
    border-radius: 200px;
    margin-top: 20px;
    animation: bounce 2s infinite;
  }
  
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

h2 {
    font-size: 24px;
  }
  
a {
    background-color: white;
    font-size: 20px;
    color: linear-gradient(to right, rgb(0, 255, 106), rgb(17, 0, 255));
    padding: 13px;
    border-radius: 13px;
    margin: 15px 700px;
    display: block;
    text-decoration: none;

  }
  
a:hover{
  color: rgb(7, 90, 41);
  transition: 0.3s all;
 }
 