/* style.css */
body {
<<<<<<< HEAD
  justify-items: center;
  text-align: center;
  background: linear-gradient(to right, rgb(5, 44, 21), rgb(17, 0, 255));
  font-family: 'Trebuchet MS';
  color: white;
}

img {
  width: 200px;
  border-radius: 200px;
  margin-top: 20px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

h2 {
  font-size: 24px;
}

a {
  width: 250px;
  font-weight: bold;
  background-color: white;
  font-size: 20px;
  color: blue;
  padding: 13px;
  border-radius: 13px;
  margin: 15px 100px;
  display: block;
  text-decoration: none;

}

a:hover{
color: rgb(7, 90, 41);
transition: 0.3s all;
}
@media only screen and (max-width: 1520px) and (max-height: 720px){
img {
  width: 300px;
  border-radius: 200px;
  margin-top: 20px;
  animation: bounce 2s infinite;
}

h1{
  font-size: 30px;
}
h2{
  font-size: 25px;

}
p{
  font-size: 20px;
}
a {
  font-weight: bold;
  width: 400px;
  background-color: white;
  font-size: 39px;
  color: blue;
  padding: 13px;
  border-radius: 13px;
  margin: 20px 150px;
  display: block;
  text-decoration: none;

}
}
=======
    text-align: center;
    background: linear-gradient(to right, rgb(5, 44, 21), rgb(17, 0, 255));
    font-family: 'Trebuchet MS';
    color: white;
  }
  
img {
    width: 200px;
    border-radius: 200px;
    margin-top: 20px;
    animation: bounce 2s infinite;
  }
  
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

h2 {
    font-size: 24px;
  }
  
a {
    background-color: white;
    font-size: 20px;
    color: linear-gradient(to right, rgb(0, 255, 106), rgb(17, 0, 255));
    padding: 13px;
    border-radius: 13px;
    margin: 15px 700px;
    display: block;
    text-decoration: none;

  }
  
a:hover{
  color: rgb(7, 90, 41);
  transition: 0.3s all;
 }
 
>>>>>>> f7ceb615e084410e790a2a3edc44249f9c3ff9d1
